@font-face {
    font-family: SwecoSans-Bold;
    src: url("font/SwecoSans-Bold.otf") format("opentype");
}

@font-face {
    font-family: SwecoSans-Medium;
    src: url("font/SwecoSans-Medium.otf") format("opentype");
}

@font-face {
    font-family: SwecoSans-Regular;
    src: url("font/SwecoSans-Regular.otf") format("opentype");
}
html,
body {
  font-family: SwecoSans-Bold, Consolas, monaco, monospace;
  margin:0;
  padding:0;
  height:100%;
}
#container {
  padding-top: 20px;
  height: 100%;

}
#container h1, h2 {
  margin-left: 20%;
}
h2 {
  font-family: SwecoSans-Regular;
}
#chart {

  width: 100%;
  height: 100%;
  background-image: url("images/background.jpg");
  background-size: 100% 50%;
  background-repeat: no-repeat;
}
#chart > div {
  padding: 20px;
  position: absolute;
  bottom: 0;

}
table {
  width: 100%;
  height: 400px;
}
.charttitle {
  text-align: center;
}
.bars td {
  vertical-align: bottom;
  text-align: center;
}

.bars td > img {
  width: 100%;
  margin-top: 3px;
}
.bars div:hover {
  opacity: 0.6;
}
.legend {
  vertical-align: bottom;
  padding-left: 20px;
  text-align: left;
}
.legbox {
  display: block;
  clear: both;
}
.xaxisname {
  margin: 5px;
  color: #fff;
  font-size: 77%;
  padding: 5px;
  float: left;
}
/*Flat UI colors*/
#one {
  background: #dF063F;
}
#two {
  background: #E1B545;
}
#three {
  background: #539F3F;
}
#four {
  background: #BE0433;
}
#five {
  background: #F92E30;
}
#six {
  background: #3CBBDD;
}
#seven {
  background: #F8C232;
}
#eight {
  background: #9C0B43;
}
#nine {
  background: #FA6434;
}
#ten {
  background: #D60069;
}
#eleven {
  background: #FB9B37;
}
#twelve {
  background: #C69739;
}
#thirteen {
  background: #447F47;
}
#fourteen {
  background: #2594D3;
}
#fifteen {
  background: #5FC239;
}
#sixteen {
  background: #16689A;
}
#seventeen {
  background: #1E486A;
}
#seventeen.clouds {
  color: #BDC3C7;
}
#eighteen {
  background: #BDC3C7;
}
#nineteen {
  background: #95A5A6;
}
#twenty {
  background: #7F8C8D;
}
