@font-face {
    font-family: SwecoSans-Bold;
    src: url("font/SwecoSans-Bold.otf") format("opentype");
}

h1 {
  font-family: SwecoSans-Bold, Consolas, monaco, monospace !important;
  font-size: 30px !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.loader {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding-top: 50%;
}
.col-sm{
  padding: 0px !important;
}
